# CODExa Environment Variables Template
VITE_APP_NAME="CODExa Software House"
VITE_SITE_URL="https://codexa-xx.vercel.app"
VITE_CONTACT_EMAIL="osama.mohamedr3d33@gmail.com"
VITE_CONTACT_PHONE="+201556701167"
